/* Header */
header {
    background-color: var(--background-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

header img {
    width: 40px;
    border-radius: 50%;
}

.head-button {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.head-button input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

.head-button button {
    background: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-button a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: red;
    font-size: 35px;
    direction: rtl;
}

.head-button a p {
    letter-spacing: -3px;
}